h1{
    text-align: center
}
p{
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25 in;
    background: URL(image/anh1.jpg)
}

body{
    background: URL(image/anh2.jpg)
}

.banner{
    background: URL(image/anh3.jpg) repeat-x;
    font-size: 50pt;
    font-family: Arial Rounded MT Bold

}
